<div class="navbar navbar-inverse navbar-fixed-top row" role="navigation">
    <div class="container">
        <div class="navbar-header col-md-8 col-xs-6">
            <a class="navbar-brand" rel="home">PhotoSite</a>
        </div>
        <div class="col-md-2 col-xs-3">
            <a ng-click="logout();" class="navbar-brand" style="font-size:12px">
                Logout
            </a>
        </div>
        <div class="col-md-2 col-xs-3">
            <a ng-click="addAPhoto();" class="navbar-brand" style="font-size:12px">
                Adauga o poza
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="#/profile">Profil</a>
            </li>
            <li>
                <a href="#/people">Persoane</a>
            </li>
            <li>
                <a href="#/newsfeed">Newsfeed</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <h4 align="center">
        Ultimele poze
    </h4>
</div>
<hr>
<div class="row" ng-repeat="photo in recentPhotos track by $index">
    <div align="center">
        <div class="post-wrapper">
            <div align="left" style="padding-left:10px">
                <a style="font-size:20px" href="#/person/:{{photo.uid}}">
                {{photo.PosterName}}
            </a>
                <div>
                    {{photo.timeAgo}} ago
                </div>
                <div>
                    <b>Descriere: </b>{{photo.descr}}
                </div>
            </div>
            <div align="center" class="photo-wrapper">
                <img src="/api/uploaded_photos/{{photo.photoName}}"
                    ng-show="photo.photoName"
                    style=" width:100%;height:auto;max-height:960px">
                </img>
            </div>
            <hr>
            <div align="left">
                <button class="btn btn-default fa"
                    ng-class="{'btn':true, 'btn-default':true, 'fa':true,
                    'fa-thumbs-up': photo.liked==='true',
                    'fa-thumbs-o-up': photo.liked==='false'}"
                    style="margin-left: 12px"
                    ng-click="like(photo.pid, $index, photo.likes)" ng-disabled="pending">
                    Like
                </button>
                {{photo.likes}}
            </div>
            <hr>
            <div align="left" style="padding-left:10px">
              <!-- TODO:pune o limita si aici -->
                <div ng-show="photo.comments.length > 0" align="center">
                  <a class="link">show more</a>
                </div>
                <div ng-repeat="comment in photo.comments track by $index">
                    <div style="font-size:12px">
                      {{comment.created.getDate()}} {{month[0]}}, Time: {{comment.created.getHours()}}:{{comment.created.getMinutes()}}
                    </div>
                    <div style="font-size:20px">
                        <a href="#/person/:{{comment.uid}}">{{comment.posterName}}</a>: {{comment.text}}
                    </div>
                </div>
            </div>
            <hr>
            <form ng-submit="postComment($index,photo.pid,commentText);commentText=''">
                <input style="margin-left:10px, margin-right:10px"
                    class="form-control" type="text" name="commentText"
                    placeholder="Write a comment" ng-model="commentText">
                 <input type="submit" value="Submit" style="display:none" />
            </form>
            <br>
        </div>
    </div>
    <br>
</div>
<div class = "row" align="center"  ng-show="recentPhotos.length < recentPhotos.maxPosts">
  <button class="btn btn-default" ng-click="getMorePosts()">I want more</button>
</div>
