<div class="navbar navbar-inverse navbar-fixed-top row" role="navigation">
    <div class="container">
        <div class="navbar-header col-md-8 col-xs-6">
            <a class="navbar-brand" rel="home">PhotoSite</a>
        </div>
        <div class="col-md-2 col-xs-3">
            <a ng-click="logout();" class="navbar-brand" style="font-size:12px">
                Logout
            </a>
        </div>
        <div class="col-md-2 col-xs-3">
            <a ng-click="addAPhoto();" class="navbar-brand" style="font-size:12px">
                Adauga o poza
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="#/profile">Profil</a>
            </li>
            <li>
                <a href="#/people">Persoane</a>
            </li>
            <li>
                <a href="#/photos">Poze</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="space-6"></div>
    <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="person in people track by $index">
        <a href="#/person/:{{person.uid}}">{{person.name}}</a>
    </div>
</div>
