<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">
        <div class="navbar-header col-md-9 col-xs-9">
            <a class="navbar-brand" rel="home">PhotoSite</a>
        </div>
        <div class="col-md-3 col-xs-3">
          <a ng-click="logout();" class="navbar-brand" style="font-size:12px" ng-show="uid">Logout</a>
          <a ng-click="login();" class="navbar-brand" style="font-size:12px" ng-hide="uid">Login</a>
          <a ng-click="signUp();" class="navbar-brand" style="font-size:12px" ng-hide="uid">Signup</a>
        </div>
    </div>
  </div>
</div>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="#/profile">Profil</a>
            </li>
            <li>
                <a href="#/people">Persoane</a>
            </li>
            <li>
                <a href="#/pictures">Poze</a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="space-6"></div>
            <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="person in people track by $index">
              <a href="#/person/:{{person.uid}}">{{person.name}}</a>
            </div>
        </div>
    </div>
