<div class="navbar navbar-inverse navbar-fixed-top row" role="navigation">
    <div class="container">
        <div class="navbar-header col-md-8 col-xs-6">
            <a class="navbar-brand" rel="home">PhotoSite</a>
        </div>
        <div class="col-md-2 col-xs-3">
            <a ng-click="logout();" class="navbar-brand" style="font-size:12px">
                Logout
            </a>
        </div>
        <div class="col-md-2 col-xs-3">
            <a ng-click="addAPhoto();" class="navbar-brand" style="font-size:12px">
                Adauga o poza
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="#/profile">Profil</a>
            </li>
            <li>
                <a href="#/people">Persoane</a>
            </li>
            <li>
                <a href="#/photos">Poze</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h4 class="header blue lighter bigger">
            Profil
        </h4>
        Nume: {{name}}
        <br> Email: {{email}}
        <br> Telefon: {{phone}}
        <br> Adresa: {{address}}
        <div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4 class="header blue lighter bigger">
            Galerie foto
        </h4>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" ng-repeat="photo in photos track by $index">
      <i style='background-image: url(/api/uploaded_photos/{{photo.photoName}});height: 206px;width: 189px;position:relative;display:block;background-size:cover;cursor:pointer;padding:0'></i>
      <!-- TODO: la hover sa faca ceva -->
    </div>
</div>
